<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= habit.name %></h3>
  </div>
  <div class="panel-body">

    <div id=<%= habit.name + "-timeline" %> style="height: 100px;"></div>  

    <table>
      <tr>
        <% habit.current_chain_dates.each do |date| %>
          <td bgcolor="red"> x </td>
        <% end %>
        <% habit.upcoming_dates.each do |date| %>
          <td bgcolor="#E0E0E0"> o </td>
        <% end %>
      </tr>
      <tr>
        <% habit.current_chain_dates.each do |date| %>
          <td><%= date %></td>
        <% end %>
        <% habit.upcoming_dates.each do |date| %>
          <td><%= date %></td>
        <% end %>
      </tr>
    </table>

    <p>Your current chain is <%= habit.current_chain_length %> days long!</p>
    
<!--     <p>Your previous longest chain was <%= habit.previous_longest_chain_length %> days long.</p> -->

    <div>
      <%= link_to 'Update Chain', edit_user_habit_path(current_user,habit), class: "btn btn-default", role: "button" %>
    </div>

  </div>
</div>