<div class="panel panel-default">
  
  <div class="panel-heading">
    <h3 class="panel-title"><%= link_to habit.name, edit_user_habit_path(current_user,habit.id) %></h3>
  </div>

  <% if !habit.chains[0].nil? %>
  
  <div class="panel-body">
    <div id=<%= habit.name.gsub(/\s/,"-") + "-timeline" %> style="height: 160px;"></div>  
  </div>

  <table class="table table-bordered">
    <tr>
      <td>
        Days This Calendar Year</br>
        <span style="font-weight: bold; font-size: 200%">
        <%= habit.days_this_year %> days</span>
      </td>
      <td>
        Longest Streak</br>
        <span style="font-weight: bold; font-size: 200%">
        <%= habit.longest_chain_length %> days</span>
      </td>
      <td>
        Current Streak</br>
        <span style="font-weight: bold; font-size: 200%">
        <%= habit.latest_chain_length %> days</span>
      </td>
    </tr>
  </table>

  <% else %>
  
  <div class="panel-body">
    <h4><%= @no_chains_message %></h4>
  </div>

  <% end %>
  
</div>