<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= link_to habit.name, edit_user_habit_path(current_user,habit.id) %></h3>
  </div>
  <div class="panel-body">

  <% if !habit.chains[0].nil? %>
    <div id=<%= habit.name.gsub(/\s/,"-") + "-timeline" %> style="height: 160px;"></div>  
  <% else %>
    <h4><%= @no_chains_message %></h4>
  <% end %>

  </div>

  <table class="table table-bordered">
    <tr>
      <td>Days This Calendar Year</td>
      <td>
        Longest Streak</br>
        <span style="font-weight: bold; font-size: 200%">
        <%= habit.longest_chain_length %> days</span>
      </td>
      <td>
        Current Streak</br>
        <span style="font-weight: bold; font-size: 200%">
        <%= habit.latest_chain_length %> days</span>
      </td>
    </tr>
  </table>

</div>