<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> <%= @habit.name %> </h3>
  </div>
  <div class="panel-body">

    <%= render :partial => 'completed_days/form' %>
     
    <div>
      <%= link_to 'Back to My Current Habit Chains', user_habits_path, class: "btn btn-default", role: "button" %>
    </div>

    <table>
      <tr>
        <th>Completed Days</th>
      </tr>
      <% @habit.completed_days_sorted.each do |completed_day| %>
        <tr>
          <td><%= completed_day.date %></td>
          <td><%= link_to 'Delete', completed_day_path(completed_day.id),
                  method: :delete,
                  data: { confirm: 'Are you sure?' },
                  class: "btn btn-default btn-xs",
                  role: "button" %></td>
        </tr>
      <% end %>
    </table>

    <div>
      <%= link_to 'Delete This Habit', user_habit_path(current_user, @habit),
                  method: :delete,
                  data: { confirm: 'Are you sure?' },
                  class: "btn btn-default",
                  role: "button" %>
    </div>

  </div>
</div>
