<%= javascript_tag do %>

  var habitsRaw = <%= raw @jshabits %>;
  var habits = habitsRaw.map(function(h){
    if (h==null) {
      return null;
    } else {
      var array = [h[0],new Date(h[1]),new Date(h[2])];
      return array;
    };
  });

<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">My Chains</h2>
  </div>
  <div class="panel-body">

    <div>
      <%= link_to 'New Habit', new_user_habit_path, class: "btn btn-default", role: "button" %>
    </div>

<!--   <div>debug <%= current_user.habits.first %></div> -->

    <div>
      <% if !@habits[0].nil? %>
        <%= render partial: "habit", collection: @habits %>
      <% else %>
        <p><%= @no_habits_message %></p>
      <% end %>
    </div>

  </div>
</div>