<!DOCTYPE html>
<html>
<head>
  <title>Habits</title>
  <%= favicon_link_tag(source='favicon.ico') %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}"></script>
</head>
<body>

<%= render "layouts/header" %>

  <div id="main-container" class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= render "layouts/notice_and_alert" %>
        <%= yield %>
      </div>
    </div>
  </div>

<%= render "layouts/footer" %>

</body>
</html>
